{% extends "../base.html" %}
<!DOCTYPE html>
{% block header %}
    <script type="text/javascript" src={{ static_url("js/ext-all.js")}}></script>
    <script data-require="jquery@*" data-semver="2.0.3" src={{ static_url("js/jquery-2.1.4.min.js") }}></script>
    <script data-require="bootstrap@2.3.2" data-semver="2.3.2" src={{ static_url("js/bootstrap.min.js") }}></script>
    <script type="text/javascript" charset="utf-8" src={{ static_url("js/angular.min.js") }}></script>
    <script src={{ static_url("js/common.js") }}></script>
    <script src={{ static_url("js/websocket.js") }}></script>
{% end %}
{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading"><span class="glyphicon glyphicon-hdd"></span> {{ title }}</div>
        <form class="form-search">
            <input type="button" id="doMerge" value="合并选中的分支">
        </form>
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
            <th width="10"><input type="checkbox" id ="checkAll"></th>
                <th>
                    id
                </th>
                {% for col in heads %}
                 <th ng-click="predicate='{{ col }}'; reverse=!reverse" class="sortBtn lp_{{ col }}">
                    <span ng-if="predicate=='{{ col }}'" ng-switch on="reverse">
                    </span>
                   {{ lang.get(col,col) }}
                </th>
                {% end %}
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in data">
               <td ng-switch on="item.name" width="10">
                   <input ng-switch-when="master" type="checkbox" disabled="disabled">
                   <input ng-switch-when="light_merge" type="checkbox" disabled="disabled">
                   <input ng-switch-default type="checkbox"  name="checkbox" >
                 </td>
               <td>// $index + 1 // </td>
               {% for col in heads %}
                   <td class="lp_{{ col }}"><span style="color:green;"> // item.{{ col }} // </span></td>
               {% end %}
            </tr>
            </tbody>
        </table>
    </div>
    <div id="myDiv1">操作日志：
        <input style="float: right;" onclick="cleanlog()" type=Button value="清除日志">
        <pre  id="responseText" style="background:#222;width:1077px;height:300px;overflow-y:scroll;color:#eee">
        </pre>
    </div>
<script>
$("document").ready(function() {
    $("#doMerge").click(function() {
        var branchs = [];
        var i = 0;
        $("input[name='checkbox']:checked").each(function() {
            var str = $(this.parentNode.parentNode.getElementsByClassName("ng-binding")[1].lastChild).context.data.trim();
            branchs[i] = str;
            i += 1;
        })
        if (branchs.length == 0) {
            alert("未选择任何分支")
        } else {
            console.log(branchs.join());
            $("#responseText")[0].innerHTML = $("#responseText")[0].innerHTML + "<br>选择合并<span style='color:red;'>" + branchs.join() + "</span>分支到<span style='color:green;'>light_merge</span>";
            send("do_merge,19," + branchs)
        }
    })
    $("#checkAll").click(function() {
        if (this.checked) {
            $("input[name='checkbox']:checkbox").each(function() {
                $(this).prop("checked", true);
            })
        } else {
            $("input[name='checkbox']:checkbox").each(function() {
                $(this).prop("checked", false);
            })
        }
    })
})
</script>
{% end %}