{% extends "base.html" %}
<!DOCTYPE html>
{% block header %}
    <script type="text/javascript" src={{ static_url("js/ext-all.js")}}></script>
    <script data-require="jquery@*" data-semver="2.0.3" src={{ static_url("js/jquery-2.0.3.min.js") }}></script>
    <script data-require="bootstrap@2.3.2" data-semver="2.3.2" src={{ static_url("js/bootstrap.min.js") }}></script>
    <script type="text/javascript" charset="utf-8" src={{ static_url("js/angular.min.js") }}></script>
    <script src={{ static_url("js/common.js") }}></script>
{% end %}
{% block content %}
    <div class="panel panel-primary">
        <div style="position:fixed;background:#0666c5;width:100%;" class="panel-heading" ><span class="glyphicon glyphicon-hdd"></span> {{ title }}</div>
        <div style="position:fixed;background:#0666c5;width:100%;color: #EEE;">
        <form class="form-search" >
            <input ng-model="searchText" type="text" >
            <button ng-click="reset()" class="btn btn-success">重置</button>
            <button ng-click="flush()" class="btn btn-success">刷新</button>
            <button ng-click="setPerPage(data.length)" ng-class="{'active':itemsPerPage==data.length}" class="btn btn-default">[[data.length]]</button>
            <button ng-repeat="count in [10,20,50,100]" type="button" ng-class="{'active':itemsPerPage==count}" ng-click="setPerPage(count)" class="btn btn-default"> 
        <span ng-bind="count" class="ng-binding"></span> </button>
        <button ng-class="prevPageDisabled()" class="btn btn-default" ng-click="prevPage()"> « Prev</button>
        <select style="width: 70px;"  ng-model="currentPage" ng-options="(n+1+'/'+pageCount()) for n in range(pageCount())"></select>
        <button ng-class="nextPageDisabled()" class="btn btn-default" ng-click="nextPage()">Next »</button>
        过滤条件：[[status]]
        </form>
        {% for col in headers %}
            {{ lang.get(col,col) }}:<input onclick="h('lp_{{ col }}')" type=checkbox value="" {%if col not in hide%}checked=checked{%end%}>|
        {% end %}
        开启过滤<input ng-model="clickFilter" type=checkbox value=""checked=checked>
        </div>
        <div style="height:40px;"></div>
        <table class="table table-striped table-hover table-bordered" >
            <thead >
            <tr>
                <th>
                    id
                </th>
                {% for col in headers %}
                 <th ng-click="predicate='{{ col }}'; reverse=!reverse" class="sortBtn lp_{{ col }}" {%if col in hide%} style="display: none;"{%end%}>
                    <span ng-if="predicate=='{{ col }}'" ng-switch on="reverse">
                    </span>
                   {{ lang.get(col,col) }}
                </th>
                {% end %}
            </tr>
            </thead>
            <div style="height:50px;"></div>
            <tbody>
            <tr ng-repeat="item in data |offset: currentPage*itemsPerPage | limitTo: itemsPerPage| filter:searchText | filter:status | orderBy:predicate:reverse">
               <td>[[ $index + 1 ]] </td>
               {% for col in headers  %}
               <td class="lp_{{ col }}" {%if col in  hide%} style="display: none;" {%end%} ng-click="statusFilter('{{col}}',item.{{ col }})"><span style="color:green;"> [[ item.{{ col }} ]] </span></td>
               {% end %}
            </tr>
            </tbody>
        </table>
    <div class="pagination"> 
        <ul>
            <li ng-class="prevPageDisabled()">
                <a class="btn btn-default" ng-click="prevPage()"> « Prev</a>
            </li>
            <li ng-repeat="n in range(pageCount())"
                ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                <a href>[[n+1]]</a>
            </li>
            <li ng-class="nextPageDisabled()">
                <a class="btn btn-default" ng-click="nextPage()">Next »</a>
            </li> 
    
        </ul>
</div>

    </div>
<script>
h = function (id){
  $("."+id).toggle();
}
showAdviceDetail = function (advicevalue){
	Ext.Msg.alert('白名单',advicevalue);
}
</script>
{% end %}

